In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings(action = 'ignore')

In [2]:
df = pd.read_csv("train.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [3]:
features = df.drop('Survived', axis = 1) #피처
labels = df['Survived'] #레이블

In [4]:
features

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
886,887,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [5]:
labels

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [6]:
#features 데이터 전처리
#결측치 제거, 불필요한 속성 제거(PassengerId, Name, Ticket)
#레이블 인코딩까지 진행

In [7]:
print(features.isnull().sum())

PassengerId      0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [8]:
#결측치 제거(대체)
features['Age'].fillna(features['Age'].mean(), inplace = True)
features['Cabin'].fillna('N', inplace = True)
features['Embarked'].fillna('Embarked', inplace = True)

In [9]:
#불필요한 속성제거(PassengerId, Name, Ticket)
features = features.drop(['PassengerId', 'Name', 'Ticket'], axis = 1)
features

     Pclass     Sex        Age  SibSp  Parch     Fare Cabin Embarked
0         3    male  22.000000      1      0   7.2500     N        S
1         1  female  38.000000      1      0  71.2833   C85        C
2         3  female  26.000000      0      0   7.9250     N        S
3         1  female  35.000000      1      0  53.1000  C123        S
4         3    male  35.000000      0      0   8.0500     N        S
..      ...     ...        ...    ...    ...      ...   ...      ...
886       2    male  27.000000      0      0  13.0000     N        S
887       1  female  19.000000      0      0  30.0000   B42        S
888       3  female  29.699118      1      2  23.4500     N        S
889       1    male  26.000000      0      0  30.0000  C148        C
890       3    male  32.000000      0      0   7.7500     N        Q

[891 rows x 8 columns]

In [10]:
#레이블 인코딩 진행
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
features['Sex'] = le.fit_transform(features['Sex'])
features['Embarked'] = le.fit_transform(features['Embarked'])
features['Cabin'] = le.fit_transform(features['Cabin'])

In [11]:
features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Sex       891 non-null    int32
 2   Age       891 non-null    float64
 3   SibSp     891 non-null    int64
 4   Parch     891 non-null    int64
 5   Fare      891 non-null    float64
 6   Cabin     891 non-null    int32
 7   Embarked  891 non-null    int32
dtypes: float64(2), int32(3), int64(3)
memory usage: 45.4 KB

In [12]:
#train_test_split()으로 features와 labels를 훈련세트와 테스트 세트로 분할
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(features, labels,
                                    test_size = 0.2, random_state = 53)

In [13]:
#shape 확인
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(712, 8)
(179, 8)
(712,)
(179,)

# 모델 학습 및 비교

In [14]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [15]:
dt = DecisionTreeClassifier(random_state = 11)
dt

DecisionTreeClassifier(random_state=11)

In [16]:
dt.fit(X_train, y_train)

DecisionTreeClassifier(random_state=11)

In [17]:
pred = dt.predict(X_test)
pred

array([0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0,
       0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0,
       0, 1, 0], dtype=int64)

In [18]:
print(f"정확도 : {accuracy_score(y_test, pred)}")

정확도 : 0.7262569832402235

In [19]:
#교차검증
from sklearn.model_selection import cross_val_score
scores = cross_val_score(dt, features, labels, cv = 10)

#교차검증마다의 정확도 구하기
for iter_count, accuracy in enumerate(scores):
    print(f"{iter_count+1} 번째 교차검증 정확도 : {accuracy}")

print(f"평균정확도 : {np.mean(scores)}")

1 번째 교차검증 정확도 : 0.7444444444444445
2 번째 교차검증 정확도 : 0.7640449438202247
3 번째 교차검증 정확도 : 0.7191011235955056
4 번째 교차검증 정확도 : 0.7865168539325843
5 번째 교차검증 정확도 : 0.8426966292134831
6 번째 교차검증 정확도 : 0.797752808988764
7 번째 교차검증 정확도 : 0.797752808988764
8 번째 교차검증 정확도 : 0.7078651685393258
9 번째 교차검증 정확도 : 0.8651685393258427
10 번째 교차검증 정확도 : 0.7865168539325843
평균정확도 : 0.7811860174781523

In [20]:
li = [1, 2, 3, 4]
for i in enumerate(li):
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)

# GridSearchCV 적용

In [21]:
from sklearn.model_selection import GridSearchCV

#의사결정 나무 모델 생성
tree_model = DecisionTreeClassifier()

#튜닝할 하이퍼파라미터 그리드 설정
param_grid = {
    'criterion' : ['gini', 'entropy'],
    'max_depth' : [None, 10, 20, 30],
    'min_samples_split' : [2, 5, 10],
    'min_samples_leaf' : [1, 2, 4]
}

#gridSearchCV 객체 생성
grid_search = GridSearchCV(tree_model, param_grid, cv = 5, scoring="accuracy")
grid_search

#모델 훈련 및 최적의 파라미터 찾기
grid_search.fit(X_train, y_train)

#최적의 하이퍼파라미터와 성능 출력
print(f"최적의 하이퍼 파라미터 : {grid_search.best_params_}")
print(f"최적의 성능 : {grid_search.best_score_}")

최적의 하이퍼 파라미터 : {'criterion': 'entropy', 'max_depth': 10, 'min_samples_leaf': 1, 'min_samples_split': 10}
최적의 성능 : 0.8006008076430613

# RandomForest

In [22]:
from sklearn.ensemble import RandomForestClassifier

In [23]:
#튜닝할 하이퍼파라미터 그리드 설정
param_grid = {
    'criterion' : ['gini', 'entropy'],
    'max_depth' : [None, 10, 20, 30],
    'min_samples_split' : [2, 5, 10],
    'min_samples_leaf' : [1, 2, 4]
}

#랜덤포레스트 모델 생성
model = RandomForestClassifier(random_state=42)

In [24]:
#그리드서치CV 객체 생성
grid_search = GridSearchCV(model, param_grid, cv = 7, scoring = "accuracy")

In [25]:
#모델 훈련 및 최적의 하이퍼 파라미터
grid_search.fit(X_train, y_train)

GridSearchCV(cv=7, estimator=RandomForestClassifier(random_state=42),
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [None, 10, 20, 30],
                         'min_samples_leaf': [1, 2, 4],
                         'min_samples_split': [2, 5, 10]},
             scoring='accuracy')

In [26]:
#최적의 하이퍼파라미터와 성능 출력
print(f"최적의 하이퍼파라미터 : {grid_search.best_params_}")
print(f"최적 정확도 : {grid_search.best_score_}")

최적의 하이퍼파라미터 : {'criterion': 'gini', 'max_depth': None, 'min_samples_leaf': 2, 'min_samples_split': 2}
최적 정확도 : 0.8244307624039714

In [27]:
# #튜닝할 하이퍼파라미터 그리드 설정
# param_grid = {
#     'criterion' : ['gini', 'entropy'],
#     'max_depth' : [None, 10, 20, 30],
#     'min_samples_split' : [2, 5, 10],
#     'min_samples_leaf' : [1, 2, 4]
# }

# #랜덤포레스트 모델 생성
# model = RandomForestClassifier(random_state=42)

# #그리드서치CV 객체 생성
# grid_search = GridSearchCV(model, param_grid, cv = 7, scoring = "accuracy")

# #모델 훈련 및 최적의 하이퍼 파라미터
# grid_search.fit(X_train, y_train)

# #최적의 하이퍼파라미터와 성능 출력
# print(f"최적의 하이퍼파라미터 : {grid_search.best_params_}")
# print(f"최적 정확도 : {grid_search.best_score_}")