# 레이블 인코딩(Label Encoding)

In [1]:
from sklearn.preprocessing import LabelEncoder

In [3]:
color = ['red', 'green', 'blue', 'black', 'red', 'green']
print(color, type(color))

['red', 'green', 'blue', 'black', 'red', 'green'] <class 'list'>

In [4]:
#labelEncode 생성, 적용
le = LabelEncoder()
le_color = le.fit_transform(color)

print(color)
print(f"레이블 인코딩 후 :{le_color}")

['red', 'green', 'blue', 'black', 'red', 'green']
레이블 인코딩 후 :[3 2 1 0 3 2]

# 원-핫 인코딩(One-Hot Encoding)

In [5]:
import pandas as pd

In [6]:
data = {'color':['red', 'green', 'blue', 'black', 'red', 'green']}

df = pd.DataFrame(data)
df

   color
0    red
1  green
2   blue
3  black
4    red
5  green

In [10]:
#원-핫 인코딩 적용
oh_color = pd.get_dummies(df, columns = ['color'])

df
# oh_color

   color
0    red
1  green
2   blue
3  black
4    red
5  green

In [11]:
oh_color

   color_black  color_blue  color_green  color_red
0        False       False        False       True
1        False       False         True      False
2        False        True        False      False
3         True       False        False      False
4        False       False        False       True
5        False       False         True      False